
*{
	outline:0 !important;
}


body{ 
	background:#fbefef;
	padding:0;
	color: #fff;
	font-family: 'Actor', sans-serif;
}/*a5d2da #a5d3db*/

/* -- WEB --*/

.social{
	position: fixed;
	left: 0;
	top: 200px;
	z-index: 2000;
}

.social ul{
	list-style: none;
}
.social ul li a{
	display: inline-block;
	color: white;
	background: #000;
	padding: 10px 15px;
	text-decoration: none;
}


.container-cs {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.font-cs{
	font-size: 20px;
}

.font-csc{
	font-size: 18px;
}

.font-csc-{
	font-family: "Times New Roman", Times, serif;
}

.img-cs{
	margin: 5px;
    /*border: 4px solid #CCC;*/
    float: left;
    width: 100%;

}

.desc {
    padding: 15px;
    text-align: center;
    font-style: bold;
}



.linea{

	padding: 0px;
}

#slides{
	width: 83%;
}

.titulos{
	text-align: center;
	color: #000000;
	font-style: bold;
	text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px lightgreen;
}

.titulos-cs{
	text-align: center;
	color: #000000;
	font-style: bold;
	font-size: 50px;
	text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px lightgreen;
}

.scrollup{
	z-index: 5;
    width:40px;
    height:40px;
    position:fixed;
    bottom:50px;
    right:50px;
    display:none;
}

.label-cs{
	background-color: #B2DC86;
	text-align: center;
	height: 25px;
	color: #000000;
}

.letter-cs{
	/*color: #B2DC86;*/
	color: #000000;
	font-family: "Times New Roman", Times, serif;
	font-style: oblique, bold;
	font-size: 30px;
}

.letter-cs-{
	color: orange;
	font-family: "Times New Roman", Times, serif;
	font-style: oblique, bold;
	font-size: 30px;
}

.letter-r{
	/*color: #B2DC86;*/
	color: red;
	font-family: "Times New Roman", Times, serif;
	font-style: oblique, bold;
	font-size: 30px;
}

.titlos{
	color: #000000;
	font-family: Arial Black;
	font-style: bold;
	font-size: 25px;
}

/* -- HEADER --*/

#titulo{
		display:none;
	}

.navbar{
	margin-bottom: 0;
}

.jumbotron-cs{
	background: #000000;
	color:  #ffffff;
	padding: 20px 0;
	height: 250px;
}

.jumbotron .titulo-web{
	font-size: 60px;
}

.navbar-cs{
	background: #64A7CE;
	border-color: #DDD;
	color: #ffffff; 
}

.navbar-inverse .navbar-brand{
	color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a{
	color: #ffffff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{ /*BOTÓN INICIO*/
	color: #ffffff;
	background: #3E85BF;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{	/*HOVER NAVBAR*/
	background: #3E85BF;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background: #3E85BF;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
	background-color: #9334B1;
	border-color: #3E85BF;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
	background: #3E85BF;	
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover{ /* FUENTE SUB-QUIENES SOMOS*/
	color: #FFFFFF;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{ /* HOVER  SUB-QUIENES SOMOS*/
	color: #FFFFFF; 
}

#divider{
	margin: 0px;
	padding: 0px;
	width: 10px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	border-color: #FFFFFF;
}

#buscar{
	width: 132px;
}

.dropdown-menu .divider{
	background: #FFFFFF;
}
.dropdown-menu{
	background: #3E85BF;
	
}

.dropdown-menu>li>a{
	color: #FFFFFF;
}

.dropdown-menu>li>a:hover{
	color: #FFFFFF;
}

#btn_buscar{
	background-color: #04733C;
	border-color: #02542C;
}

/* -- POST --*/
.main{
	margin-top: 20px;
	margin-bottom: 20px;
}

.post{ /*LINEA SEPARADORA*/
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #999;
}

.post .post-title{ /* COLOR DEL TITULO */
	color: #333;
}

.post .thumb{
	margin-right: 10px;
	width: 40%;
}

.post .thumb img{
	width: 100%;
}

.post .contenedor-botones{
	width: 100%;
}

/* --@MEDIA QUERY-- */
@media screen and (max-width: 768px){
	.post .thumb{
		width: 100%;
		margin-bottom: 20px;
		margin-right: 0px;
	}
}

@media (max-width: 400px){

	#titulo{
		display:initial;
		font-size: 17px;
		text-align: center;
	}

	#buscar{
		width: 300px;
	}


}

@media (max-width: 500px){

	#contac{
		color: white;
		font-size: 12px;
		font-style: bold;
	}
	#corregimientos{
		font-size: 10px;	
	}

	#titulo{
		display:initial;
		font-size: 17px;
		text-align: center;
	}


}

@media (max-width: 767px){

	#buscar{
		width: 250px;
	}

	#titulo{
		display:initial;
		font-size: 17px;
		text-align: center;
	}

	.navbar-inverse .navbar-nav .open .dropdown-menu .divider{
		background: #FFFFFF;
	}

	#cabecera{
		display: none;
	}

	#corregimientos{
		font-size: 10px;	
	}

}
@media (max-width: 1200px) and (min-width: 768px){
	#btn_buscar{
		display: none;
	}
	#buscar{
		display: none;
	}
}

@media (min-width: 0px) and (max-width: 991px){	

	#buscar{
		display: none;
	}

	#btn_buscar{
		display: none;
	}

	#navegacion-cs{
		font-size: 12px;
	}

	#sub{
		font-size: 12px;
	}

	#cabecera{
		display: none;
	}

	#icono{
		display: none;
	}

	#corregimientos{
		font-size: 10px;	
	}

}

/*@media (max-width: 1199px) and (min-width: 992px){	

	#buscar{
		width: 0px;
	}

}*/

@media (max-width: 1199px) and (min-width: 992px){

	#buscar{
		width: 70px;
	}

	#navegacion-cs{
		font-size: 12px;
	}

	#sub{
		font-size: 12px;
	}

}


/* -- SLIDER--*/

.main {
	width:90%;
	max-width:1000px;
	margin:20px auto;
}

.slides {
	width:100%;
}
 
.slides img {
	width:100%;
}
 
.slidesjs-pagination {
	margin: 0;
	padding: 0;
	background:#424242;
	list-style:none;
	overflow:hidden;
}
 
.slidesjs-pagination li {
	float:left;
}
 
.slidesjs-pagination li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	text-decoration:none;
}

.slidesjs-pagination li a:hover {
	background:#000;
}
 
.slides .active {
	background:#000; /*color fondo de numeros*/
}
 
.slidesjs-navigation{
	background:#000;
	color:#fff;
	text-decoration:none;
	display:inline-block;
	padding:13px 20px;
	float:right;
}



#icon_s{
	text-decoration: none;
	top: 0px;	
}

#icon_s:hover{
	color: #C10808;	
}


/* FOOTER */


.panel-body-cs{
	background-color: lightgreen;
}

#divFooter{
	/*font-family: "Helvetica Narrow", sans-serif;*/
	font-family: segoe ui,Arial,sans-serif;
	font-size: 16px;
}

#datos{
	padding: 0px;
	height: 150px;
	margin: auto;
	padding-top: 20px;
	background-color: #64A7CE;
}
#contac{
	color: white;
	font-family: 'Arial Black';
	font-size: 15px;
	
}

.datos{
	color: white;
}

/*ASIDE*/

marquee{
	background-color: #F4FA1F;
	font-family: 'Actor', sans-serif;
}

.list-group-item{

	border: 1px solid #278E5B;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
	background-color: #64A7CE;
	border: 1px solid #278E5B;
}

.panel-primary>.panel-heading{
	background-color: #64A7CE;
	border: 1px solid #64A7CE;
}
.panel-body.solid {
	border-style: solid;
	border-color: red;
}

.panel-heading{
	font-style: bold;
}

#datepicker{
	vertical-align: center;
	margin: auto;
}

/*TITULOS*/
a{
	color: #177D4B;
	text-decoration: none;
}

a:hover,
a:focus {
  color: #10482D; /*COLOR DE FUENTE:HOVER*/
  text-decoration: underline;
}

/**PAGINACIÓN*/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	z-index: 3;
    color: #fff;
    cursor: pointer;
	background-color: #64A7CE;
    border-color: #1C8A53;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
	z-index: 2;
    color: #278E5B;
    background-color: #eee;
    border-color: #ddd;
}

/****TABLAS **/
#tabla-2{
	width: 100%;
	vertical-align: center;
	margin: auto;
	text-align: center;
}

#tabla-22{
	width: 80%;
	vertical-align: center;
	margin: auto;
	text-align: center;
}


#mitabla{
	width: 60%;
	margin: auto;
}

#mi_tabla{
	width: 25%;
	margin: auto;
}

#miTabla{
	width: 35%;
	margin: auto;
}

#miiTabla{
	width: 65%;
	margin: auto;
}
#tabla-center{
	width: 60%;
	margin: auto;
	vertical-align: center;
	margin: auto;
	text-align: center;
}


.guardado{
	width: 300px;
	vertical-align: center;
	margin: auto;
}

.ok{
	color: #31B404;
}

.bad{
	color:red;
}

#archivo{
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 2px;
	padding: 2px;

}

.verde{
	color: #42a5e8;
}

#wows1_0{
	width: 100%;
	height: 100%;
}

#img_not{
	width: 288px;
	height: 180px;
}
#tituloslide{
	z-index: 2000;
	float: right;
}

#noticia{
	margin: 0px;
	padding: 0px;
	font-size: 20px;
}
